body{
	margin: 0;
	padding: 0;
}
.imageGame{
	width: 100%;
	margin-top: 23px;
}

.buttonCustom{
	margin-top: 10px;
	cursor: pointer;
	font-size: 15px;
	padding-left: 2.5px;
	padding-right: 2.5px;
	padding-top: 5px;
	margin-bottom: 10px;
	padding-bottom: 5px;
	color: #FAFAFA;
	text-align: center;
	background-color: #585858;
	border: none;
	width: 30%;
	margin-right: auto;
	margin-left: auto;
}

.gameForm{
	background-color: #E6E6E6;
	color: #585858;
	padding: 10px;
	margin-top: 15px;
	width: 100%;
	border-radius: 20px;
}

.bottom{
	margin-bottom: 20px;
}

#totalScore{
	font-size: 41px;
	margin-top: 0px;
	color: blue;
	text-align: center;
}

select {
	text-align: center;
	margin-bottom: 20px;
}

.bigSpan{
	width: 100%;
	display: block;
}

textarea{
	border:3px solid #16A085!important;
	resize:none;
}

textarea:focus{
	outline: none !important;
	border-color: none!important;
	box-shadow: 0 0 0 white!important;

}

.divspan{
	font-weight: bold;
	/*background-color: #736B58;*/
	background-color: #E6E6E6;
	width: 100%;margin-bottom: 20px;
	color: #585858;
	border: 2px solid #585858;
	border-radius: 20px;
	
}

.clear{
	clear: both;
}

.spantitul{
	text-align: center;
	font-size: 25px;
	font-weight: 900;
	border-bottom: 3px solid #585858;
	padding-top: 10px;
	color: #585858;

}

.span2grandaria{
	font-size: 10px;
}

.divcomentari{
	background-color: #E6E6E6;
	color: #585858;
	padding: 10px;
	margin-top: 20px;
	margin-bottom: 40px;
	border: 2px solid #585858;
	border-radius: 20px;
	z-index: 1;
	width: 100%;
	position: relative;
	overflow: auto;
}

#flechaTorcida {

	width: 0px;
	height: 0px;
	border-style: solid;
	left: 500px;
	top: 161px;
	position: absolute;
	border-width: 44px 76px 69px 15px;
	border-color: blue transparent transparent transparent;

}

#comentariojuego{
	font-size: 15px;
}

.flecha_abajo {

	width: 0;
	height: 0;
	position: absolute;
	margin-left: 73%;
	border-left: 85px solid transparent;
	border-right: 10px solid transparent;
	border-top: 31px solid #E6E6E6;

}

.arrow-before {
	width: 0;
	height: 0px;
	border-left: 83px solid transparent;
	border-right: 44px solid transparent;
	border-top: 33px solid black;
	font-size: 0px;
	line-height: 0px;
	top: 0px;
	margin-left: 65%;
	position: relative;

}
.arrow-after {
	width: 0;
	height: 0;
	border-left: 83px solid transparent;
	border-right: 45px solid transparent;
	border-top: 33px solid #E6E6E6;
	z-index: 2;
	font-size: 0px;
	line-height: 0px;
	margin-left: 65%;
	top: -35px;
	position: relative;
}

.enviarcarrito:hover{
	background-color:black;
}

.spanprecio{
	
	font-size: 35px;
	text-align: center;
	color: rgb(255, 71, 71);
}

.nomusuari{
font-size: 20px;
font-weight: bold;
color: blue;
}

.spanprecio2{
	font-size: 20px;
	margin-bottom: 10px;
	margin-top: 20px;
	text-align: center;
}

.spandescuento{
	font-size: 20px;
	text-align: center;
}

.spangenero{
	font-size: 16px;
	text-align: center;
	margin-bottom: 10px;	
}
.spanplataforma{
	font-size: 16px;
	text-align: center;
	margin-bottom: 10px;
}

.ocultar{
	display: none;
}

.enviarcarrito{
	cursor: pointer;
	font-size: 15px;
	margin-top: 12px;
	padding-left: 2.5px;
	padding-right: 2.5px;
	padding-top: 5px;
	margin-bottom: 33px;
	padding-bottom: 5px;
	color: #FAFAFA;
	text-align: center;
	background-color: #585858;
	width: 30%;
	margin-right: auto;
	margin-left: auto;
}

.width100{
	width: 100%;
}

.login{
	width: 100%;
	text-align: center;
}

.spanenviar{
	margin-top: 10px;
}

.espai{
	padding-top: 20px;
}
.espaitop{
	padding-bottom: 20px;
}