body{

}

.width100{
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	background-color: #193441;
}

.imggrandaria {
    width: 80%;
    margin-left: auto;
    margin-bottom: 60px;
    margin-right: auto;
    padding-bottom: 35px;
    padding-top: 35px;
}

.titulgame{
	font-size: 30px;
	color: red;
}

.caixadetall{
	width: 100%;
}

.caixadetall > .titulgame{


	color: red;
}