body{
	margin: 0;
	padding: 0;
}
.imgcaixa{

	/*background-color: #736B58;*/
	background-color: #E6E6E6;
	width: 100%;
	border: 2px solid #585858;
	border-radius: 20px;
}
.imggrandaria{
	width: 90%;
	margin-right: auto;
	margin-left: auto;
	display: block;
	margin-bottom: 7px;
	margin-top: 7px;
	-webkit-box-shadow: 0px 0px 24px 0px rgba(255,255,255,1);
	-moz-box-shadow: 0px 0px 24px 0px rgba(255,255,255,1);
	box-shadow: 0px 0px 24px 0px rgba(255,255,255,1);
}

.span1{
	width: 100%;
	display: block;
}
.span2{
	width: 100%;
	display: block;
}

.divspan{
	font-weight: bold;
	/*background-color: #736B58;*/
	background-color: #E6E6E6;
	width: 100%;
	color: #585858;
	border: 2px solid #585858;
	border-radius: 20px;
}
.espaispan{
	margin-left: 20px;
}

.spantitul{
	text-align: center;
	font-size: 40px;
	border-bottom: 1px solid #585858;
	padding-top: 10px;
	color: #585858;

}
.span2grandaria{
	font-size: 30px;
}

.divcomentari{
	margin-top: 50px;
	/*background-color: #736B58;*/
	background-color: #E6E6E6;
	color: #585858;
	padding: 10px;
	margin-bottom: 50px;
	width: 100%;
	overflow: auto;
}

.enviarcarrito:hover{
	background-color:black;
}

.spanprecio{
	
	font-size: 40px;
	text-align: center;
	color: rgb(255, 71, 71);
}
.spanprecio2{
	font-size: 30px;
	padding-left: 75px;
}

.spandescuento{
	font-size: 25px;
	padding-left: 75px;
}

.spangenero{
	font-size: 25px;
	padding-left: 75px;

}
.spanplataforma{
	font-size: 25px;
	padding-left: 75px;
}

.enviarcarrito{
	cursor: pointer;
	font-size: 20px;
	margin-top: 12px;
	/* padding-bottom: 15px; */
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #FAFAFA;
	text-align: center;
	background-color: #585858;
	width: 30%;
	margin-right: auto;
	margin-left: auto;
	border-radius: 20px;
}

.spanenviar{
	margin-top: 10px;
}

.espai{
	padding-top: 20px;
}
.espaitop{
	padding-bottom: 20px;
}