/* titulo del apartado que permite plegarse y desplegarse. Por defecto estará depslegado */
.desplegableProfile {
        background-color:#B40404;
	color:white;
	width:60%;
	cursor:pointer;
	padding-left: 10px;
	margin-bottom: 10px;
}

/* Apartado de datos del perfil de usuari donde puede cambiar sus datos personales */
#profileForm {
    width:60%;
}

/* texto de cada input que indica qué valor introducir i se coloca a la izquierda del formulario */
.attributeText {
    float:left;
    width:30%;
}

/* div contenedor de las casillas input para colocarlas a la derecha del formulario */
.inputAttribute {
    float:right;
    width:60%;
}

/* texto de la etiqueta de cada atributo. Le aplicamos un margen arriba para centrar el texto junto a su input */
.control-label {
    margin-top:12px;
}