/* titulo del apartado que permite plegarse y desplegarse. Por defecto estará depslegado */
.desplegableProfile {
    background-color:#16A085;
    color:white;
    width:100%;
    cursor:pointer;
    padding-left: 10px;
    margin-bottom: 10px;
}

/* Apartado de datos del perfil de usuari donde puede cambiar sus datos personales */
#profileForm {
    width:100%;
}

/* texto de la etiqueta de cada atributo. Le aplicamos un margen arriba para centrar el texto junto a su input */
.control-label {
    margin-top:12px;
}

/* ancho del div que contiene todos los apartados del perfil de usuario */
.profile {
    width:100%;
}

/* separacion entre los form-groups (label + input) en resolucion de tablet */
@media only screen and (min-width:768px) and (max-width:1200px) {
    .form-group {
        margin-bottom: 55px;
    }
}

/* boton de guardar cambios de perfil */
.button-profile {
    background-color:#49819C;
    box-shadow: 0 2px #405E6D;
    color:white;
}

.button-profile:hover {
    background-color:#36657C;
    color:white;
}

/* separación entre caracteres del subtitulo */
.underlined-title h2 {
    letter-spacing:2px;
}

/*  Platafforms Icons */
#Steam {
    padding-left: 45px;
    background-image: url("../images/platforms/steam.png");
    background-size: 18% 100%;
    background-repeat: no-repeat;
    margin-left: 3px;
}

#Origin {
    padding-left: 45px;
    background-image: url("../images/platforms/origin.png");
    background-size: 18% 100%;
    background-repeat: no-repeat;
    margin-left: 3px;
}

#Xbox {
    padding-left: 45px;
    background-image: url("../images/platforms/xbox.png");
    background-size: 18% 100%;
    background-repeat: no-repeat;
    margin-left: 3px;
}

#PSN {
    padding-left: 45px;
    background-image: url("../images/platforms/psn.png");
    background-size: 18% 100%;
    background-repeat: no-repeat;
    margin-left: 3px;
}
/*  Shopping Cart CSS  */
ul.dropdown-cart{
    min-width:250px;
}
ul.dropdown-cart li .item{
    display:block;
    padding:3px 10px;
    margin: 3px 0;
}
ul.dropdown-cart li .item:hover{
    background-color: #193441;
    cursor: pointer;
    cursor: hand;
}
ul.dropdown-cart li .item:after{
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

ul.dropdown-cart li .item-left{
    float:left;
}
ul.dropdown-cart li .item-left img,
ul.dropdown-cart li .item-left span.item-info{
    float:left;
}
ul.dropdown-cart li .item-left span.item-info{
    margin-left:10px;   
}
ul.dropdown-cart li .item-left span.item-info span{
    display:block;
}
ul.dropdown-cart li .item-right{
    float:right;
}
ul.dropdown-cart li .item-right button{
    margin-top:14px;
}
.item-info span {
    color: white;
}