/* =========================== estils_colors.css =========================== 
   Projecte 1 – Layout HTML5 amb 2 CSS                     Curs: 2015 
   Autor: Carles 
=====================================================================/*



/* ********************************************* 
   ********************************************* 
               Estils pel body
   ********************************************* 
   ********************************************* */ 

body{
	background-color: black;
	
}

/* ********************************************* 
   ********************************************* 
               Estils pel header
   ********************************************* 
   ********************************************* */ 


.imagen1{


	margin-left: 25%;

}
/* ********************************************* 
   ********************************************* 
             Als h1 als introduiexo un estil que
             transforma al text han text amb 3D
   ********************************************* 
   ********************************************* */ 
h1{
	color: white;
	
	text-shadow: 0 1px 0 #ccc,
	0 2px 0 #0040FF,
	0 3px 0 #0040FF,
	0 4px 0 #0040FF,
	0 5px 0 #0040FF,
	0 6px 1px rgba(0,0,0,.1),
	0 0 5px rgba(0,0,0,.1),
	0 1px 3px rgba(0,0,0,.3),
	0 3px 5px rgba(0,0,0,.2),
	0 5px 10px rgba(0,0,0,.25),
	0 10px 10px rgba(0,0,0,.2),
	0 20px 20px rgba(0,0,0,.15);
}

/* ********************************************* 
   ********************************************* 
               Estils pel nav
   ********************************************* 
   ********************************************* */ 


nav{

	
	background-color:#E6E6E6;
}

.nav {
	list-style:none;
	
}
.nav li a {
	
	
	
	

	color: black;
	
	letter-spacing: 0.05em;
	text-decoration: none;
	text-transform: uppercase;
	
}

.ropa1:hover .preu {
	font-weight: bolder;
	color: blue;
	
}

/* ********************************************* 
   ********************************************* 
               Estils pel main
   ********************************************* 
   ********************************************* */ 

.ropa1 {




	color: black;

	
	
}

.ropa1 h2 {
	line-height: 2px;
	color: black;
	font-size:15px;
	
	text-decoration: underline;
	font-weight: bolder;
}

.ropa2 h2 {
	line-height: 2px;
	color: black;
	font-size:19px;
	
	font-weight: bolder;
}


.ropa2:hover .preu {
	font-weight: bolder;
	color: blue;
	
}

main section {
	
	text-align: center;
	border: 3px solid #0040FF;
	background-color: #E6E6E6;
	

}

/* ********************************************* 
   ********************************************* 
               Estils pel footer
   ********************************************* 
   ********************************************* */ 

footer{
	
	border-top: 2px solid white;

}

footer #contacto{

	background-color: #E6E6E6;

} 



#contacto{
	
	color:black;

}

#copyright{
	color:white;
	border-top: 2px solid white;
	
}

