/* =========================== index.css =========================== 
   Projecte 1 – Layout HTML5 amb 2 CSS                     Curs: 2015 
   Autor: Carles 
=====================================================================/*



/* ********************************************* 
   ********************************************* 
                Posicionament del body 
   ********************************************* 
   ********************************************* */ 

body{
	
	margin: 0px;
	padding: 0px;
}

/* ********************************************* 
   ********************************************* 
                Posicionament dels elements del header
   ********************************************* 
   ********************************************* */ 

.imagen1{

	height: 50%;
	width: 50%;
	

}


.imagen2{
width: 100%;

}


/* ********************************************* 
   ********************************************* 
                Posicionament del nav i als seus elements
   ********************************************* 
   ********************************************* */ 

   /*Aixo serveix per centrar al text dintre del menu i que no es mogui*/
.navbar .navbar-nav {
    display: inline-block;
    float: none;

}


.navbar .navbar-collapse {
    text-align: center;
}


.top { margin-top: 7%; }


/* ********************************************* 
   ********************************************* 
              Posicionament del main i als seus elements
   ********************************************* 
   ********************************************* */ 




.ropa1 h2 {
	
	display: block;

}

.ropa1 img{
	width: 200px;
	height: 200px;

}
.imagen3{

		width: 200px;
	height: 200px;
}






*/
/* ********************************************* 
   ********************************************* 
             Transformu al main han una taula amb al siplay table
   ********************************************* 
   ********************************************* */ 

/

/* ********************************************* 
   ********************************************* 
               Posicionament del footer i als seus elements
   ********************************************* 
   ********************************************* */ 



