.contenedor {
    background-color:blue;
}

/* titulo del apartado que permite plegarse y desplegarse. Por defecto estará depslegado */
.desplegableProfile {
    background-color:#16A085;
    color:white;
    width:100%;
    cursor:pointer;
    padding-left: 10px;
    margin-bottom: 10px;
}

/* Apartado de datos del perfil de usuari donde puede cambiar sus datos personales */
#profileForm {
    width:100%;
}

/* Cursor style when the user select's his country */
.country-list {
    cursor: pointer !important;
}

/* texto de la etiqueta de cada atributo. Le aplicamos un margen arriba para centrar el texto junto a su input */
.control-label {
    margin-top:15px;
}

/* ancho del div que contiene todos los apartados del perfil de usuario */
.profile {
    width:100%;
    background-color: #e8e8e8:;
}

.btn.btn-default {
    background: #eeeeee;
    box-shadow: 0 2px #bdc3c7;
    color: #747474;
}

#login-form  .form-control{
    border: 2px solid #E6E6E6;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    position: relative;

}

#register-form .form-control{
    border: 2px solid #E6E6E6;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

}

#register-form label.error{
    color: red;
    float: right;
    background-color: white;
    text-align: center;
    width: 100%;
}

.posicionarizquierda{
    text-align: left;
}

#login-form label.error{
    color: red;
    float: right;
    background-color: white;
    text-align: center;
    width: 100%;
}

input.error,textarea.error{
    border: 1px solid red !important;
    background-color: white;
   
}

input:focus{
    border: 2px solid #4CB9A3;

}

/* separacion entre los form-groups (label + input) en resolucion de tablet */
@media only screen and (min-width:768px) and (max-width:1200px) {
    .form-group {
       margin-bottom: 55px;
    }
}

/* Updating messages using server validations */
.delete {
    width: 100%;
    min-height: 100%;
    height: auto !important;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index:100;
}

.delete-success {
    padding: 15px;
    margin-top:20px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    width: 100%;
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    text-align:center;
    font-size: 20px;
    font-weight: bold;
}


.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    width: 100%;
}

.alert-img {
    max-width: 50%;
    margin: 0 25% 0 25%;
}

.success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.btn-delete {
    margin-left: 8%;
    float: left;
}

.btn-cancel {
    margin-right: 8%;
    float: right;
}

.confirm {
    width: 320px;
    height: 320px;
    border-radius: 5px;
    position: absolute;
    left: 50%;
    top: 45%;
    margin: -100px 0 0 -150px;
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.confirm p {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}

.confirm-msg {
    margin: 15px;
}

/* boton de guardar cambios de perfil de color azul */
.button-profile {
    background-color:#49819C;
    box-shadow: 0 2px #405E6D;
    color:white;
}

.button-profile:hover {
    background-color:#36657C;
    color:white;
}

/* botón de enviar mensaje de color verde */
.button-green {
    background-color:#27ae60;
    box-shadow: 0 2px #23894D;
    color:white;
}

.button-green:hover {
    background-color:#23894D;
    color:white;
}

/* separación entre caracteres del subtitulo */
.underlined-title h2 {
    letter-spacing:2px;
}

/*  Platafforms Icons */
#Steam {
    padding-left: 45px;
    background-image: url("../images/platforms/steam.png");
    background-size: 18% 100%;
    background-repeat: no-repeat;
    margin-left: 3px;
}

#Origin {
    padding-left: 45px;
    background-image: url("../images/platforms/origin.png");
    background-size: 18% 100%;
    background-repeat: no-repeat;
    margin-left: 3px;
}

#Xbox {
    padding-left: 45px;
    background-image: url("../images/platforms/xbox.png");
    background-size: 18% 100%;
    background-repeat: no-repeat;
    margin-left: 3px;
}

#PSN {
    padding-left: 45px;
    background-image: url("../images/platforms/psn.png");
    background-size: 18% 100%;
    background-repeat: no-repeat;
    margin-left: 3px;
}

/*  Shopping Cart CSS  */
ul.dropdown-cart{
    min-width:250px;
}

ul.dropdown-cart li .item{
    display:block;
    padding:3px 10px;
    margin: 3px 0;
}

ul.dropdown-cart li .item:hover{
    background-color: #193441;
    cursor: pointer;
    cursor: hand;
}

ul.dropdown-cart li .item:after{
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

ul.dropdown-cart li .item-left{
    float:left;
}

ul.dropdown-cart li .item-left img,
ul.dropdown-cart li .item-left span.item-info{
    float:left;
}

ul.dropdown-cart li .item-left span.item-info{
    margin-left:10px;   
}

ul.dropdown-cart li .item-left span.item-info span{
    display:block;
}

ul.dropdown-cart li .item-right{
    float:right;
}

ul.dropdown-cart li .item-right button{
    margin-top:14px;
}

.item-info span {
    color: white;
}

/* Contenedor de cada mensaje que recibe un usuario registrado */
#privateMessageBlock {
    width:100%;
    margin-bottom: 10px;
    background-color: #E6E6E6;
    border-radius: 7px;
}

/* Elementos dentro del contenedor del mensaje de bandeja de entrada, para hacerle padding */
#elementsMessageContainer {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0px !important;
    padding-right: 0px !important;
    text-align: justify;
}

/* Informació del encabezado del mensaje (usuario emisor y fecha y hora del envío) */
#infoMessage {
    background-color: #E6E6E6;
    position: absolute;
}

/* Nombre del emisor del mensaje para poderlo resaltar */
#senderName {
    display: inline;
    font-weight: bold;
}

/* texto del mensaje escrito por el usuario emisor */
.contentMessage {
    background-color: #F1F1F1;
    margin-top: 6%;
    padding: 7px;
    position: relative;
}

.content-message-error {
    margin-top: 5px !important;
    margin-bottom: 5px;
}

/* Botón de responder mensaje  */
#answerMessageButton {
    padding-left:5px;
    padding-right: 5px;
    margin-top:34px;
}

/* Mensajes de la bandeja de entrada que aparecen si no hay mensajes */
.no-message {
    margin-top: 3%;
    font-size: 1.6em;
    font-weight: bold;
    text-align: center;
}

/* Formulario de envío de mensajes */
#send-message-form {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
}

.message-redirect {
    padding: 15px;
    margin-top:20px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    width: 100%;
    color: #3c763d;
    background-color: #ffff99;
    border-color: #d6e9c6;
    text-align:center;
    font-size: 20px;
    font-weight: bold;
}

/* ShoppingCart CSS */
.badge#countShoppingCart {
    background-color: red;
}

#basket {
    overflow: hidden;
    overflow-y: scroll;
    height: 15em;
}