body, html {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-color: #2B3E50;
}

header {
    width: 100%;
    background-color: #375a7f;
    margin: 0;
    float: left;
    color: white;
}

.divestadisticas{
    width: 100%;
    overflow: auto;
}
button {
    cursor: pointer !important;
}

h1 {
    font-size: 2.1875em;
}

a:hover {
    color: white;
    text-decoration: none;
}

.admin-panel {
    text-align: center;
    color: white;
}

.card-container.card {
    padding: 40px 40px;
}

.card {
    padding: 20px 25px 30px;
    margin-top: 50px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.btn {
    font-weight: 700;
    height: 36px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.profile-name-card {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0 0;
    min-height: 1em;
}

.reauth-email {
    display: block;
    color: #404040;
    line-height: 2;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin #inputEmail,
.form-signin #inputPassword {
    direction: ltr;
    height: 44px;
    font-size: 16px;
}

.form-signin input[type=email],
.form-signin input[type=password],
.form-signin input[type=text],
.form-signin button {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin .form-control:focus {
    border-color: rgb(104, 145, 162);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
}

.btn.btn-signin {
    /*background-color: #4d90fe; */
    background-color: #5bc0de;
    /* background-color: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
    padding: 0px;
    font-weight: 700;
    font-size: 14px;
    height: 36px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
}

.btn.btn-signin:hover,
.btn.btn-signin:active,
.btn.btn-signin:focus {
    background-color: #31b0d5;
}

.forgot-password {
    float: left;
    color: #5bc0de;
}

.forgot-password:hover,
.forgot-password:active,
.forgot-password:focus {
    color: #31b0d5;
}

a {
    color: #5bc0de;
}

#remember {
    color: #fff;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.admin-menu {
    margin-bottom: 20px;
}

.admin-menu a {
    border-top-right-radius: 4px;
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    margin-left: -15px;
    background-color: #303030;
    border-right: 1px solid #464545;
    border-top: 1px solid #464545;
    border-bottom: 1px solid #464545;
}

.admin-content {
    padding-right: 0;
}

#adminView .logo {
    float: left;
}

#adminView h1 {
    float: left;
}

#adminView form, #adminView form h4, #adminView form button {
    float: left;
}

#logout {
    width: 100%;
    margin-top: 5%;
}

#logout-button {
    margin-top: 5%;
    cursor: pointer;
}

#header-name {
    margin-top: 6%;
    font-weight: bold;
}

.admin-user h4 {
    margin-top: 15%;
}

.pro-user h4 {
    margin-top: 12%;
}

.row {
    margin: 0;
}

.row-admin {
    padding-right: 0;
}

.container-content {
    width: 100%;
    padding-left: 0;
}

.container-content p {
    margin: 10px 0 10px;
}

.new-button {
    margin-bottom: 15px;
}

.grid {
    padding: 15px;
}

.grid th {
    border: solid black 1px;
    text-align: center;
    padding: 6px;
    background: #1b1e24;
    border-bottom: 4px solid #9ea7af;
    border-right: 1px solid #343a45;
}

.grid th a {
    text-decoration: none;
    color: #D5DDE5;
}

.grid td {
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    border: 1px solid #C1C3D1;
    background-color: #EBEBEB;
    text-align: center;
    padding: 6px;
}

.selected td {
    background-color: #B3FFE6;
}

.drop-grid {
    text-decoration: none;
    color: white;
}

.drop-grid a {
    text-decoration: none;
    color: white !important;
}

#user-form p {
    float: right;
}

.ocult {
    display: none;
}

.btn a {
    color: white;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    width: 100%;
}

.alert-img {
    max-width: 50%;
    margin: 0 25% 0 25%;
}

.success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.btn-delete {
    margin-left: 8%;
    float: left;
}

.btn-cancel {
    margin-right: 8%;
    float: right;
}

.delete {
    width: 100%;
    min-height: 100%;
    height: auto !important;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

.confirm {
    width: 300px;
    height: 300px;
    border-radius: 5px;
    position: absolute;
    left: 50%;
    top: 45%;
    margin: -100px 0 0 -150px;
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.confirm p {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}

.confirm-msg {
    margin: 15px;
}

.panel {
    margin-top: 20px;
}

.input-radius input {
    border-radius: 4px !important;
    width: 300px !important;
}

#general-error {
    margin-top: 10px;
}

/* Mailbox styles */

.mailbox {
    width: 100%;
    border: solid red 1px;
    position: relative;
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
    text-align: center;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    border-radius: 4px;
}

.mailbox:hover {
    color: #fff;
    background-color: #C9302C;
    border-color: #d43f3a; 
}

.mail-logo {
    font-size: 8em;
    padding-right: 8px !important;
}

.mail-title {
    font-size: 1.8em;
}

/* Report & Complaint Styles */

.noRead {
    color: #B45F04;
}

.read {
    color: #0489B1;
}

.deny {
    color: #B40404;
}

.accept {
    color: #31B404;
}

.report-msg, .report-msg textarea {
    width: 100%;
}

/* */
input.error,textarea.error {
    border: 1px solid red !important;
}

label.error {
    display: inline;
    margin-left: 10px;
    color: red;
    max-width: 100%;
    width: 100%; 
    background-color: white !important;
}

.avatar-url {
    width: 128px;
    height: 128px;
    background-color: red;
}

.avatar-url img {
    max-width: 100%;
}

.delete-avatar {
    margin-top: 15px;
}

/* Mobile */
@media only screen and (min-width: 320px) {

    .card {
        background-color: #2B3E50;
        box-shadow: none;
    }

    .quit-padding-right {
        padding-right: 0;
    }
}

/* Tablet */
@media only screen and (min-width: 768px) {

    .card-container.card {
        max-width: 350px;
    }

    .card {
        background-color: #303030;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    }

}

/* Desktop */
@media only screen and (min-width: 992px) {
    
    .card-container.card {
        max-width: 350px;
    }

    .card {
        background-color: #303030;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    }

}

/* Gráfico de estadísticas */
.statisticsGraphics {
    width: 100%;
    height: 300px;
    margin: 0 auto;
    margin-top: 20px;
}